:root {
	--primary: hsla(330,100%,71%,1);
  --primarylight: hsla(330,100%,71%,0.6);
  --primarydark: hsla(330,56%,53%,1);
	--white: #ffffff;
  --white10: hsla(0,0%,100%,0.1);
  --white50: hsla(0,0%,100%,0.5);
  --white80: hsla(0,0%,100%,0.8);
	--lightgrey: #ebebeb;
	--red: #D90000;
  --text: #333;
  --black: hsla(0,0%,0%,1);
  --black40: hsla(0,0%,0%,0.4);
  --black80: hsla(0,0%,0%,0.8);
  --mattblack: hsla(214,12%,11%,0.95);
  --green: hsla(144, 80%, 22%, 1);
}


/* encode-sans-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://thirdavenue.b-cdn.net/fonts/pt-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://thirdavenue.b-cdn.net/fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('https://thirdavenue.b-cdn.net/fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:var(--text);
}



html { 
scroll-behavior: smooth; 
}
  

img, svg, video {max-width: 100%;display: block;}

a img {border: 0;}

a {
  line-height: inherit;
  color: var(--primarydark);
  text-decoration: none;
  cursor: pointer;

}

a:hover {
  color: var(--black);
  border: none;
  text-decoration: none;

}


.content p a {
  line-height: inherit;
  color: var(--primarydark);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted var(--primarydark);

}

.content p a:hover {
  color: var(--white);
  border: none;
  text-decoration: none;
  border-bottom: 1px solid var(--black);
  background-color: var(--primarydark);

}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary);
  text-rendering: optimizeLegibility;
  margin:0 0 1rem;
  padding:0;
  text-wrap: balance;
}

.largetext {font-size: 200%;}



.h1, h1 {
  font-size: calc(2rem + 1vw); 
  }
  
.h2, h2 {
  font-size: calc(1.6rem + 1vw); 
}


.h3, h3 {
  font-size: calc(1.2rem + 1vw); 
}


.h4, h4 {
  font-size: calc(1rem + 1vw); 
}



p {font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
color: var(--text);
text-rendering: optimizeLegibility;
font-size: 1rem;
line-height: 1.5rem;
margin: 0 0 1rem 0;
padding:0;}

.container {position: relative; margin: 7rem auto; }

@media screen and (max-width: 768px) {
  .container {position: relative; margin: 4rem auto; }
}
.content {
  margin: 3rem auto 5rem auto;
  padding: 0;
  z-index: 2;
  width: calc(100vw - 6em);
  max-width: 1440px;
  background-color: var(--white);
  min-height: 400px;
  }
  

  .quote.content {
    margin: 8rem auto 0 auto;
    padding: 0;
    z-index: 2;
    width: calc(100vw - 10em);
    max-width: 1440px;
    min-height: 110px;
    }



.caption-text { 
margin:3rem 0 5rem auto;

}




.caption-text h1 { 
margin:0;
text-align: right; 
color: var(--white);
font-size: calc(2rem + 1vw);

 }

.caption-text h1 span { 
background: var(--black);
padding: calc(0.5vw + 5px);
}




@media screen and (max-width: 768px) {
  .content {
    width: calc(100vw - 1rem);
    margin: 5rem auto 3rem auto;}

    .quote.content {
      margin: 5rem auto 1rem auto;
      padding: 0;
      z-index: 2;
      width: calc(100vw - 2em);
      max-width: 1440px;
     
      }

.caption-text {
    width: 100%;
    right: auto;
    left: 0;
    margin: 0 auto 1rem auto;

   }

   .caption-text h1 { 
    margin:0;
    text-align: right; 
    padding: 0.5rem;
   
   
    
     }
    
.caption-text h1 span { 
padding: 0;
background: var(--black);
padding: 1rem;
    }


}
 .headerwrapper {
          display: grid;
          grid-template-columns: 120px 1fr;
          grid-template-areas:
            "hamburger logo";
            grid-template-rows: 44px;
   }  
   @media only screen and (min-width: 1025px) {  
    .headerwrapper {
    display: grid;
    grid-template-columns: 120px 300px 1fr 110px;
    grid-template-areas:
      "hamburger logo navwrapper socialwrapper";
      grid-template-rows: 44px; } 
  
   
  }
   
   @media only screen and (min-width: 1500px) {  
    .headerwrapper {
    display: grid;
    grid-template-columns: 120px 400px 1fr 120px;
    grid-template-areas:
      "hamburger logo navwrapper socialwrapper";
      grid-template-rows: 44px; } 
  
   
  }
    
.hamburger { grid-area: hamburger; }
      .logo { grid-area: logo; }
      .navwrapper { grid-area: navwrapper;padding-left: 2rem;}
      .socialwrapper { grid-area: socialwrapper; }
      
        
      .close, .closed {
        text-align: right;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: 0rem;
        right:1rem;
        cursor:pointer;
        float:right;
      }

.logo {display:grid;
    justify-content: center;
    align-content: center;}

      @media screen and (min-width: 1025px) {
        .logo img {width:257px;height:30px;}
        
    
      }



            

@media screen and (max-width: 1025px) {
.navwrapper, .socialwrapper {
display: none;
}
.logo {position:absolute;right:0.25rem;top:7px;text-align: right;}
.logo img { max-width:257px;max-height:30px;}
}


.offcanvas {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}

@media screen and (max-width: 1025px) {
.offcanvas {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}}

.offcanvas.open {
  left: 0;
}

.offcanvas h3 {
  color: var(--black);
  text-align: left;
  padding-left: 1rem;
  background: var(--white);
  height: 64px;
  line-height: 64px;
  margin: 0 0 2px 0;
  font-size: 1.5rem;
}


.toggle-nav {
    display: block;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
   background: transparent;
  border: none;
  width: auto;
  height: 34px;

  z-index: 3;
  padding:5px;
 }
 @media screen and (max-width: 1025px) {
  .toggle-nav {
    display: block;
    margin: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    background: transparent;
    border: none;
    width: auto;
    height: 34px;

    z-index: 3;
    padding:5px;
 }




}




.hamburger-icon:before {
  content: "";
  display:block;
    position:fixed;
    width: 24px;
    height: 4px;
    margin:0px;
    background: var(--white);
    box-shadow: 0 8px 0 0 var(--white), 0 16px 0 0 var(--white);
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}


span.title-bar-title {display:block;text-indent:34px;padding:0;}




.toggle-nav:focus {
  outline: none;
}


.toggle-nav:hover {
  background-color: var(--primary);
  color: var(--white);
}

.button {
  background-color: var(--primary);
  color: var(--white);
  margin: 0;
  margin-bottom: 0px;
  border: none;
  padding:0.5rem 2rem;
}

.button:focus, .button:hover {
  background-color: var(--black);
  color: var(--white);
}
button.success, .button.success {
  background-color: var(--white);
  border: 0.3rem solid var(--black);
  color: var(--black);
  font-size: 1rem;
  padding: 0.4rem 3rem;
  margin: 0 auto;
  text-decoration:none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: var(--black);
  color: var(--white);
  border: 0.3rem solid var(--white);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}



button.close-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  color: var(--black);
  cursor: pointer;
  background-color: var(--white);
  border-width: 0.1rem;
  border-color: var(--black);
  padding: 0.5rem;
  text-decoration:none;
}
button.close-nav:hover, button.close-nav:focus, .button.close-nav:hover, .button.close-nav:focus {
  background-color: var(--black);
  color: var(--white);
  border-width: 0.1rem;
  border-color: var(--white);
}

button.blogdetail, .button.blogdetail {margin:0;}

.hide {
  display: none;
}
.topbar {
  position: fixed;
  background-color: var(--black);
  width: 100%;
  padding: 0;
  top: 0px;
  z-index: 3;
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}

@media (max-width: 500px) {
  .topbar {
    position: fixed;
    background-color:var(--black);}
  }



/* Menus */
.childlist { float: right;margin:0 1rem 0 auto;  }

ul.menusocial, ul.main-menu, ul.footer-menu, ul.second-level {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}


.main-menu > li {
    display: inline-block;

    margin:0;
    border: none;
    position: relative;
    right: 0;
    width: auto;
    text-align: center;
}




.main-menu > li.hide {
    display: none;
}


ul.main-menu > li > a {
  margin:0 1rem 0 0;
  padding: 0 2rem;
  line-height: 38px;
  font-size: 1rem;
  color: var(--white);
text-decoration: none;
font-weight: 400;
cursor: pointer;
display: block;
position: relative;
border-bottom: 6px solid transparent;
background-color: transparent;

}

ul.main-menu > li > a:hover {
  line-height: 38px;
  color: var(--white);
  background-color: transparent;
  border-bottom: 6px solid var(--primary);

}
ul.main-menu > li.active-class > a {
  color: var(--white);
  background-color: transparent;
  border-bottom: 6px solid var(--white);

}


@media screen and (max-width: 1400px) {
ul.main-menu > li > a {
padding: 0 1rem;}
}
@media screen and (max-width: 1200px) {
  ul.main-menu > li > a {
  padding: 0 0.5rem;
  margin:0 0.5rem 0 0;
  }
  }





  .footernavwrapper {
  background-color: var(--black);height:36px;bottom: 0;width: 100%;z-index: 4
  }
    .footernav {
    margin: 0 auto;
    padding: 0;
    width: calc(100vw - 6em);
    max-width: 1440px;
    }




.footer {
background-color: var(--mattblack);
padding: 1rem 0;
z-index: 4;
}




ul.footer-menu li {
  float: left;
}
.footer-menu > li {
  display: inline-block;
  padding:0;
  margin: 0;
  border: none;
  position: relative;
  left: 0;
  width: auto;
  text-align: left;
  font-size: 1rem;
}

.footer-menu > li > a {
  padding: 0.5rem 1rem;
  height:36px;
  line-height: 36px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--white);
  background-color: transparent;
  border:none;
  width: auto;
 
}

.footer-menu > li > a:hover {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--black);
  background-color: var(--white);
  border:none;
  width: auto;
}
.footer-menu > li.current > a, .footer-menu > li.active-class > a {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--black);
  background-color: var(--white);
  border:none;
  width: auto;
}



@media (max-width: 768px) {

  .footernavwrapper { height:auto;position: relative;bottom: 0;width: 100%;z-index: 4;}

  .footernav {
    width: calc(100vw - 1em);
    }
  .footer-menu > li {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: var(--primary);
    background-color: transparent;
    border:1px solid var(--lightgrey);

  }

  .footer-menu > li > a {
    padding: 0.5rem;
    width: 100%;
    color: var(--primary);
    background-color: transparent;
 
  }

  .footer-menu > li > a:hover, .footer-menu > li > a:active {
    padding: 0.5rem;
    width: 100%;
    color: var(--white);
    background-color: var(--primary);
 
  }
}
/* Menusocial */


ul.menusocial {
  float: right;
  margin:0 1rem 0 0;
}
.contentsocialwrapper ul.menusocial {
  float: left;
  margin:0;
}



ul.menusocial > li {
    display: inline-block;
    padding: 0;
    margin:0 0 0 0.5rem;
    border: none;
    position: relative;
    right: 0;
    width: 2rem;
    text-align: center;
}

.contentsocialwrapper ul.menusocial > li {    margin:0 0.5rem 0 0;}

ul.menusocial > li > a {
  line-height: 44px;
  margin:5px 0;
  padding: 0.4rem;
  width:34px;
  height:34px;
  font-size: 2.4rem;
text-decoration: none;
font-weight: 400;
cursor: pointer;
display: block;
position: relative;
border-bottom: none;
background-color: var(--lightgrey);
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;

}

.contentsocialwrapper ul.menusocial > li > a {background-color: var(--lightgrey);}
.contentsocialwrapper ul.menusocial > li > a:hover {background-color: var(--primary);}

ul.menusocial > li > a:hover {
  background-color: var(--primary);
  border-bottom: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}



.mobilemenu {padding:0 0 1rem;}
ul.off-canvas-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.off-canvas-list li a {
  border-bottom: 1px solid var(--lightgrey);
  color: var(--white);
  display: block;
  padding: 0.75rem;
  transition: background 300ms ease;
  background: var(--mattblack);
}

ul.off-canvas-list li a:hover, ul.off-canvas-list li a:focus {
  color: var(--black);
  background: var(--primary);
  font-weight: bold;
}

ul.off-canvas-list > li.current > a, ul.off-canvas-list > li.active-class > a {
  color: var(--white);
  background-color: var(--primary); font-weight: bold;}

  ul.off-canvas-list > li.parent > a {
    color: var(--primary);
    background-color: var(--black); font-weight: bold;}

ul.off-canvas-list > li.parent > a:hover {
color: var(--white);
background-color: var(--primary); font-weight: bold;}

  ul.off-canvas-list li ul.second-level li a {
    display: block;
    color: var(--white);
    background: var(--black);
   padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--lightgrey);
    transition: background 300ms ease;
    font-weight: normal;
    font-size: 90%;

  }

  ul.off-canvas-list li ul.second-level li a:hover {
    display: block;
    color: var(--white);
    background: var(--primary);
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--lightgrey);
    transition: background 300ms ease;
    font-weight: normal;
  }

  ul.off-canvas-list li ul.second-level li.active-class a {
    border-bottom: 1px solid var(--lightgrey);
    color: var(--white);
    display: block;
   padding: 0.5rem 1.5rem;
    transition: background 300ms ease;
    background: var(--primary);
    font-weight: normal;
  }


  .offcanvas .contentsocialwrapper {padding:1rem;}




 










[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

@media (min-width: 1025px) {
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.grid-2-columns {
  grid-template-columns: repeat(2, 1fr); gap: 2rem;
}
}

@media (max-width: 1024px) {
.grid-3-columns {
  grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 600px) {
.grid-3-columns {
  grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-2-columns-2x1 {
grid-template-columns: 2fr 1fr;gap: 3rem;}

@media (max-width: 1024px) {
  .grid-2-columns-2x1 {
    grid-template-columns: 1fr;
  }
  }

.grid-detailpage-sidebar-summary {
  grid-template-columns: 1fr 3fr;}

.grid-detailpage-sidebar-summary:hover img {
  filter: brightness(1.2);
  }

.grid-detailpage-sidebar-summary:hover .detailpage-sidebar-summary-content-wrapper {border-left: .6rem solid var(--black);}

  .Postimagehover {position:relative;text-align:center}

  .Postimagehover a {padding:0;border:none;}
  
  .Postimagehover img{width:100%}
  
  .Postimagehover .image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.3);-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;opacity:0;overflow:hidden}
  
  .Postimagehover:hover .image-overlay{opacity:1;background-color:rgba(0,0,0,.3);}
  
  .Postimagehover .image-overlay .overlay-icon{width:70px;height:70px;display:block;border-radius:50%;margin:-70px auto 0;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
  .Postimagehover:hover .image-overlay .overlay-icon{opacity:1;margin:70px auto 0}
  .Postimagehover .image-overlay .overlay-icon img{width:70px;height:70px}
  

  .postimg {
    height:auto;
    width:800px;
    aspect-ratio: 3 / 2;
     }
.postlistimg {
height:auto;
width:450px;
aspect-ratio: 450 / 270;
 }
.postlistsidebarimgsquare {
  height:auto;
  width:150px;
  aspect-ratio: 1 / 1;
   }

  
  .NewsSummary {
    margin: 0 0 1.8750rem 0;
     padding: 0.75rem;
     background-color: var(--white);
     border: 1px solid var(--black);
  }
  .NewsSummary:hover {
     box-shadow: 0 2px 8px #CFCFCF;
     -webkit-transition: box-shadow 0.2s ease-in-out;
     -moz-transition: box-shadow 0.2s ease-in-out;
     -o-transition: box-shadow 0.2s ease-in-out;
     transition: box-shadow 0.2s ease-in-out;
     border: 1px solid var(--primarydark);
  }

.detailpage-sidebar-summary-content-wrapper h4 { font-size: 1rem; }
.detailpage-sidebar-summary-content-wrapper h4 a { color: var(--black);border:none;text-decoration: none; padding:0;margin:0;background:transparent;}
.detailpage-sidebar-summary-content-wrapper h4 a:hover { color: var(--primary);border:none;text-decoration: none; padding:0;margin:0;background:transparent;}

.postdetailcontent {padding: 2rem 0;}

@media (max-width: 768px) {
  .postdetailcontent {padding: 1rem;}
  .sidebarwrapper {padding: 0;margin:0;}
 
  }



  .sidebarwrapper h3 {color: var(--black);font-size: calc(1.5rem + 0.5rem);}
  .servicescontent h3 {color: var(--black); font-size: calc(1.5rem + 0.5rem);}

  .postsumtitle {padding:1rem 0 0 0;}

 
  .postsumtitle h3 {
    color: var(--primary);
    font-size: calc(1.5rem + 0.5rem); 
    line-height: 1.1;
    
  }
  .postsumtitle h3 a {
    color: var(--primary);
    border:none;
    padding: 0 0.25rem;
  
  }
  .postsumtitle h3 a:hover {
    background: var(--white);
    color: var(--black);
    border:none;
  }
 
  .postsumsummary {color:var(--text);padding:0.5rem 0;min-height:125px;font-size:1rem;}
  .newssumbutton {margin:0 0 1rem 0;}
    

.grid-detailpage-sidebar-summary {padding-bottom: 2rem;}

.detailpage-sidebar-summary-content-wrapper  {
  padding: 0 0 0 1rem;
  margin: 0 0 0 1rem;
  border-left: 0.6rem solid var(--primary);
  min-height: 3rem;
}

.detailpage-sidebar-summary-content-wrapper:hover {
  padding: 0 0 0 1rem;
  margin: 0 0 0 1rem;
  border-left: 0.6rem solid var(--black);
  min-height: 3rem;
}


.right {float:right;text-align:right;}

.imageright {
  float: right;
  padding: 0 0 1rem 1rem;

}

.img250 img {max-width: 250px;height:auto;aspect-ratio: 1 / 1;}

.img400 img {max-width: 400px;height:auto;aspect-ratio: 1 / 1;}
.img34 img {max-width: 34px;height:auto;aspect-ratio: 1 / 1;float:right;}

.img600 img {max-width: 600px;height:auto;aspect-ratio: 60 / 36;}
figure {
  margin: 0;
}

figcaption {
  font-size: 80%;
  line-height: 120%;
  color: var(--white);
  background: var(--black);
  padding: 0.5rem;
  text-align: center;
  max-width: auto;
  margin:0 auto;
}
@media (max-width: 600px) {

  .imageright {
    float: none;
    max-width: 100%;
    padding: 0;
    text-align: center;
    margin: 1rem auto;
  
  }
  .imageright img {margin:0 auto;}

  .img400 img,   .img600 img {max-width: 100%;}

 

  .hidesmall, .hideforsmall {display:none;}

}



.responsive-embed{position:relative;height:0;margin:2rem 0;padding-bottom:75%;overflow:hidden}.flex-video embed,.flex-video iframe,.flex-video object,.flex-video video,.responsive-embed embed,.responsive-embed iframe,.responsive-embed object,.responsive-embed video{position:absolute;top:0;left:0;width:100%;height:100%}.flex-video.widescreen,.responsive-embed.widescreen{padding-bottom:56.25%}



.grid-2-columns-bob {
  display: grid;
  grid-template-columns: repeat(2, 1fr); gap: 2rem;
  justify-content: center;
  align-content: center;
  width: calc(100vw - 6em);
  margin: 0 auto;
}


.pink {background-color: #FF69B4;margin:10rem auto 5rem auto;border:0.8rem solid rgba(0, 0, 0, 1);text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  -webkit-transition: box-shadow 0.2s ease-in-out;
   -moz-transition: box-shadow 0.2s ease-in-out;
   -o-transition: box-shadow 0.2s ease-in-out;
   transition: box-shadow 0.2s ease-in-out;}
.pink:hover {border:0.8rem solid black;text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  -webkit-transition: box-shadow 0.2s ease-in-out;
   -moz-transition: box-shadow 0.2s ease-in-out;
   -o-transition: box-shadow 0.2s ease-in-out;
   transition: box-shadow 0.2s ease-in-out;}

.bobimage {padding:1rem;text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;}
     
.bobtext {padding:1rem;color:white;font-size: calc(2.2rem + 1vw);font-family: 'PT Sans', sans-serif;text-align: left;
  display: grid;
  justify-content: center;
  align-content: center;}


  @media (max-width: 1200px) {

      .grid-2-columns-bob {
        grid-template-columns: repeat(1, 1fr);
      }

      .pink {margin:5rem auto 5rem auto;}

      .bobimage {padding:1rem 1rem 0;}
      .bobtext {padding:0 1rem 1rem;}
    }

    @media (max-width: 800px) {
      .grid-2-columns-bob {
        width: calc(100vw - 2em);}
      }

    .maintestlisewrapper {margin: 0;position: relative;}


    .testbox::after {
      content: "";
      position: absolute;
      bottom:  0px;
      left: 4.5em;
      border-width: 0 20px 80px 0;
      border-style: solid;
      border-color: transparent #bfbfbf;
      display: block;
      width: 0;
    }

    .outer-block { 
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 1rem;
        -webkit-column-gap: 1rem;
        column-gap: 1rem;
    }


    @media only screen and (max-width: 900px ) {
      .outer-block { 
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
 
           }  
          }
    .items { 
        display: inline-block;
        margin: 0 0 2rem;
        width: 100%;
    }

    .testbox {

margin: 0;
color: var(--text); /* default background for browsers without gradient support */
border: 3px solid var(--black);
padding: 1rem 1rem 0 1rem;
border-radius: 4px;
box-shadow: 0 4px 8px #A9A9A9;
}
    
.testbox p {clear:right;}
    
.testboxlink {
padding: 0.5rem 0 0 4.5rem;
margin: 0;
font-size: 1rem;
color: var(--black);
font-weight:700;

}
    
      
    
    .testboxlink a {
    
      text-decoration: none;
    
      border-bottom-width: 1px;
    
      border-bottom-style: dotted;
    
      border-bottom-color: var(--primary);
    
      color: var(--black);
    
      font-weight:700;
    
    
    }
    
    
    
    .testboxlink a:hover{
    
      text-decoration: none;
    
      background-color: var(--primary);	
      color: var(--white);
    }	
    
.home-slide {max-width: 464px;}

@media (max-width: 1400px) {
.home-slide {   max-width: 424px;}}

@media (max-width: 1200px) {
.home-slide {   max-width: 368px;}} 


@media (max-width: 1028px) {
.home-slide { max-width: calc(90vw - 4em);}
}
@media (max-width: 768px) {
  .home-slide { max-width: calc(100vw - 1.6em);}
  }
.leftfloat, .quoteleft  {
float: left;
padding: 0 0.75rem 0 0;
height:38px;
width:50px;
margin:0;
    }

.quoteright  {
float:right;
padding: 0 0 0 0.75rem;
height:38px;
width:50px;
margin:0;}




.block-italic {
display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  padding: 15px 30px;
margin: 0 auto;
color: var(--white); /* default background for browsers without gradient support */
position: relative;


	

	-webkit-border-radius: 8px;

	-moz-border-radius: 8px;

	border-radius: 4px;

	background-color: #696969;

	font-family: 'Open Sans', sans-serif;

	font-size: 140%;

	padding: 20px 20px 6px 20px;

	font-style: italic;

	width:auto;

	

}

.block-italic p {
color: var(--white);
font-size: 130%;
margin: 0 0 1.3rem 0;
line-height: 150%;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */

.block-italic + p {

	margin:15px 0 2em 85px;

	font-style:normal;

	font-size: 110%;

	color: var(--text); 

}

.block-italic + p a {

	text-decoration: none;

	border-bottom-width: 1px;

	border-bottom-style: dotted;

	border-bottom-color: #999;

	color: var(--text); 

	font-size: 1.2em;}



.block-italic + p a:hover {
	color: var(--white); 
text-decoration: none;
background-color: var(--primary);

}







/* creates the triangle */

.block-italic:after {

	content:"";

	position:absolute;

	bottom:-50px;

	left:50px;

	border-width:0 20px 50px 0px;

	border-style:solid;

	border-color:transparent #BFBFBF;

    /* reduce the damage in FF3.0 */

    display:block; 

    width:0;

}

