<head>
<meta charset="utf-8">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://jamestaylorsolicitor.com.au/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="https://jamestaylorsolicitor.com.au/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://jamestaylorsolicitor.com.au/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://jamestaylorsolicitor.com.au/favicon-16x16.png">
<link rel="manifest" href="https://jamestaylorsolicitor.com.au/site.webmanifest">


<title>{{ title or metadata.title }} - {{ metadata.title }}</title>
<link rel="canonical" href="https://jamestaylorsolicitor.com.au{{ page.url or post.url or permalink }}" />
<meta name="description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:image" content="{{ image or metadata.image or eleventyComputed.image }}/tr:w-1200,h-800" />
<meta property="og:url" content="https://jamestaylorsolicitor.com.au{{ page.url or post.url or permalink }}" />


{% set css %}
    {% include "assets/css/jts-grid.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

</head>
