<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | James Taylor Bathurst Solicitor" id="logo">
<img src="https://ik.imagekit.io/webtactics/jamestaylor/jamestaylorsolicitor-logo-404x140_YyD-VNf-W.jpg?updatedAt=1691277702603" alt="James Taylor Bathurst Solicitor" title="James Taylor Bathurst Solicitor" width="408px" height="auto">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
<li><a title="Follow James Taylor Bathurst Solicitor on Facebook" href="https://www.facebook.com/JamesTaylorBathurstSolicitor/" target="_blank"> <img src="https://ik.imagekit.io/webtactics/gtm/assets/facebook-50x50_xSfiXGDeZ.png?tr=w-34,h-34" alt="Follow James Taylor Bathurst Solicitor on Facebook" title="Follow James Taylor Bathurst Solicitor on Facebook"></a></li>
</ul>
</div>
</header>