<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Third Avenue Consulting" id="logo">
<img src="/img/thirdavenue_black_30.png" alt="Third Avenue Consulting" title="Third Avenue Consulting" width="408px" height="auto">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
<li><a title="Follow Third Avenue Consulting on Twitter" href="https://twitter.com/rburbury" target="_blank"><img src="/img/assets/twitter.svg" alt="Follow Third Avenue Consulting on Twitter" title="Follow Third Avenue Consulting on Twitter"></a></li>
<li><a title="Follow Third Avenue Consulting on LinkedIn" href="https://www.linkedin.com/in/rochelleburbury/" target="_blank"><img src="/img/assets/linkedin-200x10.svg" alt="Follow Third Avenue Consulting on LinkedIn" title="Follow Third Avenue Consulting on LinkedIn"></a></li>
</ul>
</div>
</header>