<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Third Avenue Consulting" id="logo">
<img src="https://ik.imagekit.io/webtactics/thirdavenue/thirdavenue-logo.png?updatedAt=1691726353436" alt="Third Avenue Consulting" title="Third Avenue Consulting" width="257px" height="30px">
 </a></div>
<div class="navwrapper">

</div>
<div class="socialwrapper">
{% include "components/menu-social.njk" %}
</div>
</header>