<div class="quote content">

<blockquote class="block-italic">
<div class="quoteleft"><img src="/img/assets/quote-alt-left.svg" alt="Follow Third Avenue Consulting on Twitter" title="Follow Third Avenue Consulting on Twitter"></div>
<div class="blockquotecontent">
<p>The questions don’t do the damage. Only the answers do.</p></div>
<div class="quoteright"><img src="/img/assets/quote-alt-right.svg" alt="Follow Third Avenue Consulting on Twitter" title="Follow Third Avenue Consulting on Twitter"></div>
</blockquote>
<p><a title="Sam Donaldson" href="http://en.wikipedia.org/wiki/Sam_Donaldson" target="_blank">Sam Donaldson</a></p>

</div>
