<section class="herobox hide-for-print">
<a class="grid-2-columns-bob pink" href="https://www.bandt.com.au/gather-round-its-the-best-of-the-best-trade-prs/" target="_blank" title="Voted no.1 by respected industry publication B&amp;T's 2023 Best of the Best - PR" alt="Voted no.1 by respected industry publication B&amp;T's 2023 Best of the Best - PR">
       
        <div class="bobimage"><img src="https://www.thirdavenue.com.au/uploads/images/assets/BoB-logo.png" title="Voted no.1 by respected industry publication B&amp;T's 2023 Best of the Best - PR" alt="Voted no.1 by respected industry publication B&amp;T's 2023 Best of the Best - PR"></div>
       
        <div class="bobtext">Voted no.1 by respected industry publication B&T's 2023 Best of the Best - PR</div>
        
        </a>
</section>
