<section class="herobox hide-for-print">
<a class="grid-2-columns-bob pink" href="https://www.bandt.com.au/gather-round-its-the-best-of-the-best-trade-prs/" target="_blank" title="Voted no.1 by respected industry publication B&T's 2023 Best of the Best - PR" alt="Voted no.1 by respected industry publication B&T's 2023 Best of the Best - PR">
       
        <div class="bobimage"><img src="https://ik.imagekit.io/webtactics/thirdavenue/BoB-logo_iKatS3zNs.png?updatedAt=1692764595579" title="Voted no.1 by respected industry publication B&T's 2023 Best of the Best - PR" alt="Voted no.1 by respected industry publication B&T's 2023 Best of the Best - PR"></div>
       
        <div class="bobtext">Voted no.1 by respected industry publication B&T's 2023 Best of the Best - PR</div>
        
        </a>
</section>
