<div class="quote content">
<blockquote class="block-italic"><p><span class="quoteleft">{% include "components/global/quote-left.html" %}</span>The questions don’t do the damage. Only the answers do.<span class="quoteright">{% include "components/global/quote-right.html" %}</span></p></blockquote>
<p><a title="Sam Donaldson" href="http://en.wikipedia.org/wiki/Sam_Donaldson" target="_blank">Sam Donaldson</a></p>
</div>
