<div class="quote content">
<blockquote class="block-italic"><p><span class="quoteleft">{% include "components/global/quote-left.html" %}</span>Reputation is only a candle, of wavering and uncertain flame, and easily blown out, but it is the light by which the world looks for and finds merit.<span class="quoteright">{% include "components/global/quote-right.html" %}</span></p></blockquote>
<p><a title="James Russell Lowell" href="http://en.wikipedia.org/wiki/James_Russell_Lowell" target="_blank" rel="noopener">James Russell Lowell</a></p>
</div>
