<div class="quote content">

<blockquote class="block-italic">
<div class="quoteleft"><img src="/img/assets/quote-alt-left.svg" alt="Follow Third Avenue Consulting on Twitter" title="Follow Third Avenue Consulting on Twitter"></div>
<div class="blockquotecontent">
<p>Reputation is only a candle, of wavering and uncertain flame, and easily blown out, but it is the light by which the world looks for and finds merit.</p></div>
<div class="quoteright"><img src="/img/assets/quote-alt-right.svg" alt="Follow Third Avenue Consulting on Twitter" title="Follow Third Avenue Consulting on Twitter"></div>
</blockquote>
<p><a title="James Russell Lowell" href="http://en.wikipedia.org/wiki/James_Russell_Lowell" target="_blank" rel="noopener">James Russell Lowell</a></p>

</div>
