<blockquote class="block-italic"><p><span class="quoteleft">{% include "components/global/quote-left.html" %}</span>It takes many good deeds to build a good reputation, and only one bad one to lose it.<span class="quoteright">{% include "components/global/quote-right.html" %}</span></p></blockquote>
