{% set js %}
{% include "assets/js/script.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
$('.home-slide').slick({
  autoplay: true,
  infinite: true,
  pauseOnHover: true,
  swipeToSlide: true,
  autoplaySpeed: 1000,
  speed: 3000,
  arrows: false,
  dots: false,
  fade: true,
  cssEase: 'ease'
    
  });
  </script>