{% set js %}
{% include "assets/js/script.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>


<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
$('.home-slide').slick({
  autoplay: true,
  infinite: true,
  pauseOnHover: true,
  swipeToSlide: true,
  autoplaySpeed: 3000,
  speed: 4000,
  arrows: false,
  dots: false,
  fade: true,
  cssEase: 'ease'
    
  });
  </script>