{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}">{{ entry.title }}</a>

  {% if entry.url == "/legal-services/" %}
<ul class="second-level">
<li><a href="/legal-services/criminal-law-services/">Criminal Law</a></li>
<li><a href="/legal-services/family-law-services/">Family Law</a></li>
<li><a href="/legal-services/property-and-conveyancing-law-services/">Property &amp; Conveyancing</a></li>
<li><a href="/legal-services/traffic-and-driving-offences/">Traffic &amp; Driving</a></li>
<li><a href="/legal-services/wills-and-estate-planning-services/">Wills &amp; Estate</a></li>
</ul>
{% endif %}

</li>
{%- endmacro %}
<ul class="off-canvas-list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>



