<nav class="offcanvas">
<button class="close-nav">Close X</button>
<h3>Menu</h3>
<div class="mobilemenu">
{% include "components/nav-side.njk" %}


<div class="contentsocialwrapper">
{% include "components/menu-social.njk" %}
</div>
</div>
</nav>