<div class="outer-block">
{% for post in postslist | reverse %}
<div class="items">
<div class="maintestlisewrapper">
<div class="testbox1">

 <div class="text-content">
<blockquote>
 <q>{{ post.data.layoutContent }}</q>
 </blockquote>
 </div>

</div>
<div class="testboxlink">
	<div class="testlinkname">{{ post.data.Contactname }}</div>
		<div class="testlinkposition">{{ post.data.Contactposition }}</div>
<div class="testlinkbox"><a href="{{ post.data.Website }}" title="{{ post.data.title }}" alt="{{ post.data.title }}"  target="_blank">{{ post.data.title }}</a></div>
</div>
</div> 
</div>
	{% endfor %}
</div>
