<!-- items -->
{% for post in postslist | reverse %}
<div class="detailpagesummaryborder"></div>
<div class="grid-detailpage-sidebar-summary">
<div class="sidebarsumpic">
<a href="{{ post.url | url }}"><img src="{{ post.data.image }}/tr:w-300,h-200" alt="{{ post.data.title }} @ James Taylor Bathurst Solictor" title="{{ post.data.title }} @ James Taylor Bathurst Solictor" ></a>
</div>

<div class="detailpage-sidebar-summary-content-wrapper">
<div class="pricelistsum">
<h4><a href="{{ post.url | url }}" alt="{{ post.data.title }} @ James Taylor Bathurst Solictor" title="{{ post.data.title }} @ James Taylor Bathurst Solictor">{{ post.data.title }}</a></h4>
</div>

</div>
</div>

{% endfor %}
<!-- end items -->