<div class="home-slide">
{% for post in postslist | reverse %}
<div class="items">
<div class="maintestlisewrapper">
<div class="testbox1">
{{ post.data.layoutContent | safe }}
</div>
<div class="testboxlink">
{{ post.data.Contactname }}<br>
{{ post.data.Contactposition }}
<div class="testlinkbox"><a href="{{ post.data.Website }}" post.data.title="{{ post.data.title }}" alt="{{ post.data.title }}"  target="_blank">{{ post.data.title }}</a> </div>
</div>
</div> 
</div>
{% endfor %}
</div>


