<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} " >
{% include "components/header.njk" %}
{% include "components/off-canvas.njk" %}
{% if page.url == "/contact/" %}
{% include "components/hero-contact.njk" %}
{% if page.url == "/testimonials/" %}
{% include "components/hero-testimonials.njk" %}
{% if page.url == "/media-training/" %}
{% include "components/hero-media-training.njk" %}
{% if page.url == "/about/" %}
{% include "components/hero-about.njk" %}
{% include "components/hero.njk" %}
{% endif %}

<div class="container">

{% block content %} 
<main class="content"> 
<div class="caption-text"><h1><span>{{ title }}</span></h1></div> 
<div class="grid-2-columns-2x1">

<div class="textwrapper">
{{ layoutContent | safe }}
</div>
<div class="sidebarwrapper">
<aside>
{% set postslist = collections.testimonials | reverse %}
{% include "components/postslist-slick.njk" %}
</aside>
</div>

</div>
</main>
{% endblock %}

<footer class="footernavwrapper"> 
<div class="footernav">  
{% include "components/nav-footer.njk" %}
</div>
</footer>

</div>
{% include "components/javascript.njk" %}

</body>
</html>
