<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} " >
{% include "components/header.njk" %}
  {% include "components/off-canvas.njk" %}
  {% block hero %}
  {% include "components/hero.njk" %}
  {% endblock %}

<div class="container">
   
{% block content %}
 <div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<main class="content">  
{{ layoutContent | safe }}
</main>
{% endblock %}

{% block calltoactioncontent %}
{% include "components/global/calltoaction.html" %}
{% endblock %}


<footer class="footernavwrapper"> 
<div class="footernav">  
{% include "components/nav-footer.njk" %}
</div>
</footer>


</div>
{% include "components/javascript.njk" %}

</body>
</html>
