{% extends "layouts/default.njk" %}





{% block content %} 
 <div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<main class="content">  
 <div class="grid-2-columns-2x1">

 <div class="detailwrapper">
{{ layoutContent | safe }}
</div>
<div class="sidebarwrapper">
<aside>
<h3>Practice Areas:</h3>
{% set postslist = collections.services %}
{% include "components/postslist-sidebar.njk" %}
</aside>
</div>

 </div>
</main>
{% endblock %}



