---
layout: layouts/detail.njk
section: post
---




<article{% if post.url == url %} data-current="current item"{% endif %} >
<div class="item postdetail">
<div class="postdetailimage" align="center"><img src="{{ image }}/tr:w-800,h-533" alt="{{ imageAlt }}" title="{{ imageAlt }}" width="800px" height="600px" class="postimg"></div>


<div class="postdetailcontent">  
{% if description %}
<div class="postdetaildescription">     
<p><strong> {{ description }} </strong></p>
</div>
{% endif %}   
{{ layoutContent | safe }}
</div>




 
  
  
    
</div>
</article>