---
layout: layouts/default.njk
section: testimonials
class: testimonials
---


{% block content %} 
<main class="content"> 
<div class="caption-text"><h1><span>{{ title }}</span></h1></div> 

 <div class="textwrapper">
{{ layoutContent | safe }}

</div>
</main>
{% endblock %}