---
layout: layouts/default.njk
section: testimonials
class: testimonials
---


{{ layoutContent | safe }}

<div class="servicescontent">
{% set postslist = collections.testimonials | reverse %}
{% include "components/postslist.njk" %}
</div>
